.start-container {
  align-items: center;
  padding: 30px;

  .game-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;

    .text-input-container {
      margin-bottom: 20px;
    }

    .join-action {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: relative;
      z-index: 2;

      .button {
        position: relative;
        width: 100%;
        font-size: 20px;
        z-index: 2;
      }

      .error-message {
        position: absolute;
        margin-top: 25px;
        z-index: 1;
        opacity: 0;

        &.display {
          transition: margin-top 0.5s ease;
          margin-top: 60px;
          opacity: 1
        }
      }
    }
  }

  .welcome-display {
    text-align: center;
    margin-top: 40px;

    h1 {
      font-weight: 400;
    }

    span, h1 {
      font-family: 'Oswald', sans-serif;
    }

    p {
      font-weight: 400;
      margin-top: 10px;
    }
  }
}
